#wrapper{
    margin: 0px;
    padding: 0px;
    display: grid;
    background-color: rgba(255, 255, 0, 0.3);
    grid-template-columns: 30px minmax(0, 1fr) 1fr 30px;
}

body{
    background-color: rgba(0, 0, 255, 0.3);
    grid-area: 1 / 1 / 6 / 6;
    height: 80px;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgba(255, 0, 0, 0.3);
    grid-area: 1 / 1 / 1 / 5;
    height: 100px;

}

nav{
    height: 100px;
    font-weight: bold;
    background-color: #424242;
    grid-row: 2/3;
    grid-column: 2/4;
    position:sticky;
    top: 0;

}


#left{
    background-color: rgba(0, 255, 255, 0.3);
    grid-area: 3 / 2 / 5 / 3;
    height: 800px;
}

#right{
    background-color: rgba(0, 255, 0, 0.3);
    grid-area: 3 / 3 / 5 / 4;
    height: 800px;
}

footer{
    background-color: rgba(255, 255, 0, 0.3);
    grid-area: 5 / 1 / 5 / 5;
    height: 100px;
}
nav ul li{
    width: 100%;

}
nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;    
}

nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}
* { box-sizing: border-box; }
.picture {
    height: 200px;
    grid-area: 3 / 3 / 5 / 4

}